<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>

        <form action="/" method="post">
          <input name="username" type="text" class="ghost-input" placeholder="Enter a Username">
          <input type="submit" class="ghost-button" value="Get Profile">
        </form>
        <% if(locals.username !== null){ %>
          <p><%= locals.username %></p>
        <% } %>

        <% if(locals.error !== null){ %>
          <p><%= locals.error %></p>
        <% } %>

        <form action="/timeline" method="post">
          <input class="ghost-input" type="text" name="timeline" placeholder="Enter a Match ID">
          <input class="ghost-button" type="submit" value="Get Timeline">
        </form>
        <% if(locals.matchId !== null) { %>
          <p><%= locals.timeline %></p>
        <% } %>

        <% if(locals.error !== null){ %>
          <p><%= locals.error %></p>
        <% } %>

        <form action="/match" method="post">
          <input class="ghost-input" type="text" name="match" placeholder="Enter a Match ID">
          <input class="ghost-button" type="submit" value="Get Match Stats">
        </form>
        <% if(locals.match !== null) { %>
          <p><%= locals.match %></p>
        <% } %>

        <% if(locals.error !== null){ %>
          <p><%= locals.error %></p>
        <% } %>

      </fieldset>
    </div>
  </body>
</html>
